@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,400;1,700&display=swap");

.textContainer {
    flex-flow: row wrap;
}

.dontshow {
    display: none !important;
}

.rowWrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex: 0 1 50%;
    font: 16px/24px Rubik, "Open Sans";
    outline: rgba(0, 0, 0, 0.87) none 0px;
    padding: 6px 5px 6px 0px;
}

.headerText {
    font-family: "Source Serif Pro", serif;
    font-weight: 700 !important;
    font-size: clamp(22px, 1.2vw, 25px);
    letter-spacing: -0.02em;
    line-height: 0.9;
    padding: 0px 2px 0px 0px;
    color: linear-gradient(white 100%, white 80%);
    background: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subheadText {
    font-family: "Source Serif Pro", serif;
    font-weight: 200 !important;
    text-transform: none;
    font-size: 15px;
    line-height: 18px;
    opacity: 0.9;
    margin-top: 10px;
    color: white;
}

.cardHeaderContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardContainerWrapper {
    padding-inline-start: 16px;
}

.cardValueWrapper {
    align-items: flex-end;
    display: flex;
    margin-block-end: 5px;
    margin-top: 2%;
} /*.DIV_7*/

.cardValueContainer {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2%;
}

.bloomBoxCardContaner {
    -webkit-box-align: left;
    align-items: left;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background: transparent;
    padding: 24px;
    flex-basis: calc(50% - 8px);
    background: linear-gradient(60.97deg, transparent, 90%, #983c70 100%);
    box-shadow: 5px 5px 20px #983c70;
    margin: 1%;

    @media (max-width: 1600px) {
        margin-bottom: 5%;

        @media (max-width: 950px) {
            margin-bottom: 5%;
        }

        @media (max-width: 600px) {
            margin-bottom: 10%;
        }
    }
}

.nodeWrapper {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 9px 9px 16px;
    margin-top: 5%;

    @media (max-width: 600px) {
        width: 95vw;
    }

    @media (max-width: 950px) {
        width: 97vw;
    }

    @media (min-width: 960px) {
        width: var(100vw, 100px);
    }

    @media (min-width: 1200px) {
        width: var(100vw, 100px);
    }

    @media (min-width: 1600px) {
        width: var(100vw, 100px);
    }

    @media (min-width: 2250px) {
        width: var(100vw, 100px);
    }
}

.bloomTierFix {
    display: inline-flex;
    gap: 16px;
    width: 99%;

    @media (max-width: 1600px) {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 98%;

        @media (max-width: 1200px) {
            display: block;
            flex-basis: 100%;
            -webkit-box-flex: 0;
            flex-grow: 0;
            max-width: 98%;
        }

        @media (max-width: 600px) {
            flex-basis: 100%;
            -webkit-box-flex: 0;
            flex-grow: 0;
            max-width: 93%;
        }
    }
}
