.loader-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background.png");
    color: #ffffff;
    background-color: #02010100;
}
