.centerText {
    margin-top: 0 !important;
    text-align: center !important;
}

.buttonTopPadding {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tierCard {
    -webkit-box-align: left;
    align-items: left;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background: transparent;
    padding: 3%;
    flex-basis: calc(50% - 8px);
    background: transparent;
    flex-basis: calc(50% - 8px);
    box-shadow: 5px 5px 20px #983c70;
    margin: 1%;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);

    @media (max-width: 600px) {
        margin-bottom: 15%;
    }

    @media (max-width: 950px) {
        margin-bottom: 10%;
    }

    @media (max-width: 1600px) {
        margin-bottom: 10%;
    }

    input {
        border: 0;
        border-bottom: 1px solid #555;
        background: transparent;
        width: 100%;
        font-size: 25px;
        color: #fff;
        box-shadow: 2px 2px 20px #983c70;
    }
}

.cardBodyBlur {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
}

.content0 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content0::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier1full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}

.tier-image {
    max-height: 250px;
    max-width: 250;
    justify-self: center;
    align-self: center;
}

.content1 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content1::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier1full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content2 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content2::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier2full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content3 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content3::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier3full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content4 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content4::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier4full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content5 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content5::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier5full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content6 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content6::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier6full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content7 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content7::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier7full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content8 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content8::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier8full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content9 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content9::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier9full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content10 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content10::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier10full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content11 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content11::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier11full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content12 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content12::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier12full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content13 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content13::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier13full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content14 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content14::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier14full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
.content15 {
    overflow: hidden;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content15::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../../../../assets/bloomNFT/tier15full.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
