.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 0 75% 0 0;
    background: linear-gradient(60.97deg, transparent, 100%, #983c70 10%);
    box-shadow: 0px 0px 15px #983c70;
    backdrop-filter: blur(20px);
}

.MuiDrawer-paperAnchorDockedLeft {
    border: none !important;
}

.MuiDrawer-paper {
    top: 37vh !important;
    position: sticky !important;
}

.header-mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90.97deg, transparent, 100%, #983c70 90%);
    box-shadow: 0px 0px 10px #983c70;
    top: 23vh;

    nav .ul-item li a {
        border: none;
    }
}

nav .ul-item {
    display: flex;
    flex-direction: column;
    margin-block: 0.5rem;
    list-style: none;
}

nav .wenDisplay {
    display: flex;
}

nav .ul-item.oicon li::after {
    content: "";
    position: absolute;
    width: 1%;
    height: 4%;
    background-color: #fff;
    right: 0;
}

nav .ul-item li {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    gap: 2rem;
    cursor: pointer;
    padding-block: 1.2rem;
    margin-block: 0.1rem;
    margin-top: 50px !important;
}

nav .ul-item li:hover {
}

nav .ul-item li .icon {
    color: #983c70;
    margin-inline: 1rem;
    font-size: 30px;
    margin-right: 10% !important;
}

nav .ul-item li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-left: 1px solid white;
}
.menu-icon {
    margin-inline: 1rem;
}

.menu-icon .menu {
    color: #983c70;
    margin-block: 1rem;
    cursor: pointer;
    font-size: 30px;
}

.menu-icon-center {
    position: absolute;
    color: #983c70;
    margin-block: 1rem;
    cursor: pointer;
    font-size: 30px;
    left: 90%;
    border-radius: 50%;
}

nav .ul-item li:hover {
    transition: 1s ease;
}

@media (max-width: 900px) {
    .header-mobile {
        inset: 0 90% 0 0;
        justify-content: center;
    }

    nav .ul-item {
        display: none;
    }

    nav .ul-item.oicon {
        display: flex;
    }
    .menu-icon {
        display: none;
    }

    nav .ul-item li .icon {
        font-size: clamp(1rem, 2vw + 1rem, 4rem);
    }
}

.hideme {
    display: none;
}

.showme {
    display: flex;
}

.sidebarLink {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 100%;
    padding: 5%;
}

.sidebarLink:hover {
    color: #983c70;
}

ul li a:hover {
    color: white;
    box-shadow: 0 0 20px #983c70;
    text-shadow: 0 0 20px #983c70;
    border-radius: 10px;
}

.fill-div {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    justify-content: left;
    align-items: center;
}

.icon-small {
    color: #983c70;
    margin-inline: 0.8rem;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.icon-small:hover {
    color: #983c70;
    box-shadow: 0 0 50px #983c70;
    text-shadow: 0 0 50px #983c70;
    border-radius: 20px;
}
