@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap");

.button-toolbar {
    justify-content: center;
    align-items: center;
}

.buttonStyle {
    width: 100%;
    height: 100%;
    min-height: 40px;
    min-width: 40px;
}

.landing__btn {
    background-color: white;
    box-shadow: 0 20px 30px 0 rgba(89, 181, 210, 0.31);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 23px;
    height: 46px;
    padding: 10px 30px;
    transition: 0.3s;
    white-space: nowrap;
    border: none;

    &:hover {
        background: darken(#ffffff, 5%);
        box-shadow: 0 5px 15px 0 rgba(89, 181, 210, 0.5);
    }
}

.buttonStyle {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #983c70), color-stop(1, #7d3252));
    background: -moz-linear-gradient(top, #983c70 5%, #7d3252 100%);
    background: -webkit-linear-gradient(top, #983c70 5%, #7d3252 100%);
    background: -o-linear-gradient(top, #983c70 5%, #7d3252 100%);
    background: -ms-linear-gradient(top, #983c70 5%, #7d3252 100%);
    background: linear-gradient(to bottom, #983c70 5%, #7d3252 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#983c70', endColorstr='#7d3252',GradientType=0);
    background-color: #983c70;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    border: none;
    width: 90%;
    height: 90%;
    min-height: 40px;
    min-width: 40px;
    font-family: "Source Serif Pro", serif;
    font-weight: 200 !important;
    box-shadow: 0 15px 20px 0 RGB(125, 50, 82, 0.5);
}
.buttonStyle:hover {
    font-family: "Source Serif Pro", serif;
    font-weight: 200 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d3252), color-stop(1, #983c70));
    background: -moz-linear-gradient(top, #7d3252 5%, #983c70 100%);
    background: -webkit-linear-gradient(top, #7d3252 5%, #983c70 100%);
    background: -o-linear-gradient(top, #7d3252 5%, #983c70 100%);
    background: -ms-linear-gradient(top, #7d3252 5%, #983c70 100%);
    background: linear-gradient(to bottom, #7d3252 5%, #983c70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#983c70',GradientType=0);
    background-color: #7d3252;
    box-shadow: 0 5px 15px 0 RGB(125, 50, 82, 0.5);
    width: 89%;
    height: 100%;
    color: #ffffff;
}
.buttonStyle:active {
    position: relative;
    top: 1px;
}
